<link rel="stylesheet" type="text/css" href="index.css" />
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<h2 align="center">浙江大学图书管理系统</h1>
<p align="center">知识就是力量^_^</p>
<div align="center">
<form>
<button type="submit" formaction="/query" >查询<i class="em em-grinning"></i></button>
<button type="submi" formaction="/borrow">借书<i class="em em-relaxed"></i></button>
<button type="submit" formaction="/return">还书<i class="em em-kissing_heart"></i></button>
<button type="submit" formaction="/admin">管理员登录<i class="em em-smirk"></i></button>
</form>
</div>